<main>
    <app-title [title]="'TRANSPARENCIA PASIVA'"></app-title>
    
    <section class="contenido">
        <h4>Medios de seguimiento para la consulta del estado de las solicitudes de información pública</h4>
        <p>
            La Cámara de Comercio de Magangué cuenta con la Línea de Servicio al Cliente (605) 584 6175 en Magangué y el servicio de mensajería instantánea en Whatsapp al <a href="https://wa.me/573147734540" target="_blank">314-773-4540</a>, a los cuales puedes comunicarte para hacer seguimiento al estado de tu solicitud.
            <br>Horario de atención: lunes a viernes de 08:00 a.m. a 12:00 m y de 2:00 p.m. a 06:00 p.m.
        </p>
    </section>
    <section class="boton">
        <a href="http://ccmagangue.docxflow.com/public/sucursal" target="_blank" class="btn-consultar">Consultar</a>
    </section>
    
</main>