<main>
  <app-title [title]="'Convocatorias'"></app-title>

  <section class="buscador">
    <div class="p-toolbar-group-center">
      <span class="p-input-icon-right">
        <i class="pi pi-search"></i>
        <input pInputText placeholder="Buscar alguna convocatoria" [(ngModel)]="searchTerm" />
      </span>
    </div>
  </section>

  <section class="convocatorias">
    <h2>Todas las Convocatorias</h2>
    <div class="card-grid">
      @for (item of filteredConvocatorias(); track $index) {
        <div class="card">
          <div class="card-date">
            <span>{{ item.fecha }}</span>
          </div>
          <img src="{{item.imagen}}" alt="Convocatoria" />
          <div class="card-content">
            <h3>{{ item.titulo | shortenText: 50 }}</h3>
            <p>{{ item.resumen | shortenText: 90 }}</p>
            <a (click)="goTo(item.id)" class="card-link">Saber más</a>
          </div>
        </div>
      }
    </div>
  </section>
  <router-outlet></router-outlet>
</main>