@import './../../../styles.scss';

.chat-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 25%;
  border: 1px solid #ccc;
  background-color: $white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 11;
  min-width: 320px;
}

.message {
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  max-width: 70%;
}

.bot {
  background-color: #e0e0e0;
  text-align: left;
}

.user {
  background-color: #00bfa5;
  color: white;
  text-align: right;
  margin-left: auto;
}

.chat-header {
  background-color: $anti-white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;

  h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: #333;
  }

  button {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 16px;
    cursor: pointer;

    &:hover { color: #00bfa5; }
  }
}

.chat-body {
  padding: 10px;
  max-height: 300px;
  overflow-y: auto;
  flex-grow: 1;
  background-color: $white;
  scrollbar-width: thin;

  &::-webkit-scrollbar { width: 5px; }
  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
  }
}

.chat-footer {
  padding: 10px;
  display: flex;
  background-color: $anti-white;
  border-top: 1px solid #e0e0e0;

  input {
    flex: 1;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 20px;
    font-size: 14px;
  }

  button {
    background-color: #00bfa5;
    border: none;
    color: white;
    padding: 8px 16px;
    margin-left: 8px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;

    &:hover { background-color: #00a58c; }
  }
}
