<main>
    <app-title [title]="'Registro Entidad sin Ánimo de Lucro'"></app-title>

    <section class="contexto">
        <h3>Registro Entidad sin Ánimo de Lucro</h3>
        <p>Las entidades sin ánimo de lucro son personas jurídicas, capaces de ejercer derechos y contraer obligaciones con sujeción a las disposiciones legales y a sus propios estatutos.</p>
        <p>Nacen por voluntad de los asociados en virtud del derecho constitucional de asociación, o por la libertad de disposición de los bienes de los particulares, para la realización de fines altruistas o de beneficio comunitario.</p>
        <p>La ausencia de lucro es una de sus características fundamentales, lo cual significa que no existe el reparto de utilidades o remanentes generados en el desarrollo de sus objetivos, ni es viable el reembolso de los bienes o DINEROS aportados a dichas entidades.</p>
        <p>La Ley clasifica estas personas de derecho privado en varias categorías: – Corporaciones o Asociaciones – Fundaciones – Entidades del sector solidario (cooperativas, precooperativas, asociaciones mutuales, fondos de empleados, etc)</p>
        <p>A través del Decreto ley 2150 de 1995 se asignó a las Cámaras de Comercio la función de llevar el registro de las entidades sin ánimo de lucro, de manera general, en los mismos términos, tarifas y condiciones previstos para el registro de las sociedades comerciales, previo cumplimiento de los requisitos exigidos en el citado decreto.</p>
    </section>

    <section class="acordion">
        <app-acordeon [information]="information"></app-acordeon>
    </section>
</main>