<footer>
    <div class="footer-left">
        <div class="line"></div>
        <ul>
            @for (item of paginasInternas; track $index) {
                <li>
                    @if ($last) {
                        <a href="https://ccmagangue.org.co/media/pdf/TerminosyCondicionesdeUsodelSitioWeb.pdf" download target="_blank" >{{ item.label }}</a>
                    }
                    @else if ((item.url.startsWith('http') || item.url.startsWith('www')) && !$last) {
                        <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer"> {{ item.label }} </a>
                    }
                    @else {
                        <a [routerLink]="item.url"> {{ item.label }} </a>
                    }
                </li>
            }
        </ul>
    </div>

    <div class="footer-center">
        <img src="logos/cc_mangangue-ancho-blanco.png" alt="">
        <div>
          @for (item of redesSociales; track $index) {
            <i class="{{ item.icon }}"></i>
          }
        </div>
        <div>
            <img src="https://www.cccartagena.org.co/sites/default/files/media/images/logo-govco.svg" alt="">
            <img src="https://www.cccartagena.org.co/sites/default/files/styles/fhd/public/media/images/co-pais.png?itok=IR-IGqt3" alt="">

            <div class="icontec">
                <img src="logos/icontec-9001.png" alt="">
                <span>CO-SC5722-1</span>
            </div>
            <div class="icontec">
                <img src="logos/icontec-45001.png" alt="">
                <span>CO-ST-CER807876</span>
            </div>
        </div>
    </div>

    <div class="footer-right">
        <div class="line"></div>
        <h4>Contáctenos:</h4>
        <p> Telefono (605) 584 6175 <br> WhatsApp (+57) 314 773 45 40</p>

        <div class="line"></div>
        <h4>Atención al Cliente</h4>
        <p><a href="mailto:ccmagangue@ccmagangue.org.co">{{"ccmagangue@ccmagangue.org.co"}}</a></p>

        <div class="line"></div>
        <h4>Notificaciones Judiciales: </h4>
        <p><a href="mailto:ccmagangue@ccmagangue.org.co">{{"ccmagangue@ccmagangue.org.co"}}</a></p>

        <div class="line"></div>
        <h4>Horarios de Atención al Publico:</h4>
        <p> Lunes a Viernes de 08:00 a.m. a 12:00 p.m. – 02:00 p.m. a 06:00 p.m. </p>

        <div class="line"></div>
        <h4>Sede principal</h4>
        <p>Barrio Centro, Cra. 4 No. 12 - 12 <br> Piso: Uno y Dos</p>
        <p>Magangué, Bolívar</p>

        <div class="line"></div>
        <p><a routerLink="/camara/sedes" style="text-decoration: none;">Ver Sedes y Seccionales</a></p>
    </div>

    <div class="location">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3938.1498531021434!2d-74.7467045242264!3d9.230891685794493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e5ec799b9205417%3A0xc771438fe8165d96!2sC%C3%A1mara%20de%20Comercio%20de%20Magangu%C3%A9!5e0!3m2!1ses!2sco!4v1728431306358!5m2!1ses!2sco" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
    </div>
</footer>
