@import './../../../styles.scss';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15%;
  background-color: $gobierno-color;

  height: 25px;

  .logo img { height: 20px; }

  nav {
    ul {
      list-style: none;
      display: flex;
      gap: 20px;
    }

    a {
      text-decoration: none;
      color: $white;
      &.activo { font-weight: bold; }
    }
  }
}
.horizontal-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  padding: 10px 15%;

  .left-segment {
    display: flex;
    align-items: center;
    column-gap: 1em;

    .logo img {
      width: 160px;
      object-fit: cover;
      cursor: pointer;
    }

    nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;

      li {
        position: relative;

        a {
          display: block;
          padding: 10px 20px;
          color: $white;
          text-decoration: none;
          font-weight: 400;
          font-size: 14px;
          letter-spacing: 0.5px;
          transition: color 0.3s ease;

          &:hover {
            color: $quinary-color;
            font-weight: 500;
          }
        }

        ul {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          list-style: none;
          margin: 0;
          padding: 0;
          z-index: 10;
          background-color: rgba(255, 255, 255, 0.9);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          border-radius: 4px;

          li a {
            padding: 8px 15px;
            font-size: 13px;
            color: #666;
            transition: color 0.3s ease;

            &:hover { color: #333; }
          }
        }

        &:hover ul {
          display: block;
          animation: slideDown 0.3s ease forwards;
          width: max-content;
        }
      }
    }
  }

  .right-segment {
      display: flex;
      column-gap: 1em;

      input {
        background: transparent;
        height: 40px;
        border-radius: 5px;
        border: 2px solid $white;

        padding: 0 10px;
        font-size: 1em;
        color: $white;

        &::placeholder { color: $white; }
      }

      i {
        position: absolute;
        top: 50%;
        left: 85%;
        color: $white;
      }
}
}

:host ::ng-deep p-button {
  .tramites {
    animation: pulse-tramites 1.5s infinite;

    &::before {
      animation: moveBorder 4s linear infinite;
    }
  }

  .renovar {
    animation: grow 2s infinite alternate;
    &.p-button { background: $quaternary-color; }
  }

  .p-button {
    position: relative;
    padding: 10px 20px;
    color: white;
    font-size: 1em;
    border: none;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 2px solid $white;
      box-sizing: border-box;
      clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes pulse-tramites {
  0%, 100% { background-color: $extra-color; }
  50% { background-color: #70e000; }
}

@keyframes moveBorder {
  0% { clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); }  // Top
  25% { clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 0); }  // Right
  50% { clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%); }  // Bottom
  75% { clip-path: polygon(0 0, 0 100%, 0 100%, 0 0); }  // Left
  100% { clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); }  // Vuelve a Top
}

@keyframes grow {
  0% { transform: scale(1); }
  100% { transform: scale(1.2); }
}
