<header>
    <div class="logo">
      <img src="https://www.cccartagena.org.co/sites/default/files/media/images/logo-govco.svg" alt="">
    </div>
    <nav>
        <ul>
            <li><a href="#item1">Transparencia</a></li>
            <li><a href="#item2">Participa</a></li>
            <li><a href="#item3">Asistente Virtual</a></li>
        </ul>
    </nav>
</header>

<div class="horizontal-menu">
    <div class="left-segment">
        <div class="logo">
            <img src="logos/cc_mangangue-largo.png" alt="Larger Logo">
        </div>
        <nav>
            <ul>
                <li>
                    <a href="#menuA">Menu A</a>
                    <ul>
                        <li><a href="#optionA1">Opción A1</a></li>
                        <li><a href="#optionA2">Opción A2</a></li>
                        <li><a href="#optionA3">Opción A3</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#menuB">Menu B</a>
                    <ul>
                        <li><a href="#optionB1">Opción B1</a></li>
                        <li><a href="#optionB2">Opción B2</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#menuC">Menu C</a>
                    <ul>
                        <li><a href="#optionC1">Opción C1</a></li>
                        <li><a href="#optionC2">Opción C2</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="right-segment">
        <input type="text" placeholder="Search...">
        <p-button styleClass="tramites" label="Trámites en línea" />
        <p-button styleClass="renovar" label="Renovar Ahora" />
    </div>
</div>
