<header>
    <div class="logo">
      <img src="https://www.cccartagena.org.co/sites/default/files/media/images/logo-govco.svg" alt="">
    </div>
    <nav>
        <ul>
            <li><a [routerLink]="['/leyes-transparencia']" routerLinkActive="activo">Transparencia</a></li>
            <li><a [routerLink]="['/convocatorias']" routerLinkActive="activo">Participa</a></li>
        </ul>
    </nav>
</header>

<div class="horizontal-menu">
    <div class="left-segment">
        <div class="logo">
            <img src="logos/cc_mangangue-ancho-blanco.png" alt="Larger Logo" (click)="goHome()">
        </div>
        <nav>
        <ul>
            @for (item of menuList; track $index) {
                <li>
                    <a href="#">{{ item.title }}</a>
                    <ul>
                        @for (subItem of item.opciones; track $index) {
                            <li>
                                @if (subItem.route.includes('http')) {
                                    <a href="{{ subItem.route }}" target="_blank" rel="noopener noreferrer">{{ subItem.label }}</a>
                                } @else {
                                    <a [routerLink]="subItem.route">{{ subItem.label }}</a>
                                }

                                @if (subItem.subOpciones) {
                                    <ul>
                                        @for (subSubItem of subItem.subOpciones; track $index) {
                                            <li>
                                                @if (subSubItem.route.includes('http')) {
                                                    <a href="{{ subSubItem.route }}" target="_blank" rel="noopener noreferrer">{{ subSubItem.label }}</a>
                                                } @else {
                                                    <a [routerLink]="subSubItem.route">{{ subSubItem.label }}</a>
                                                }
                                            </li>
                                        }
                                    </ul>
                                }
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
        </nav>
    </div>
    <div class="right-segment">
        <p-button routerLink="/tramites/linea" styleClass="tramites" label="Trámites en línea" />
        <p-button routerLink="/renovar" styleClass="renovar" label="Renovar Ahora" />
    </div>
</div>
