<main>
    <app-title [title]="'REGISTRO DE ENTIDADES EXTRANJERAS DE DERECHO SIN ÁNIMO DE LUCRO'"></app-title>

    <section class="contenido">
        <p>De acuerdo con el artículo 58 del Código General del Proceso (Ley 1564 de 2012)</p>

        <p>“La representación de las sociedades extranjeras con negocios permanentes en Colombia se regirá por las normas del Código de Comercio</p>

        <p>Las demás personas jurídicas de derecho privado y las organizaciones no gubernamentales sin ánimo de lucro con domicilio en el exterior que establezcan negocios o deseen desarrollar su objeto social en Colombia, constituirán apoderados con capacidad para representarlas judicialmente. Para tal efecto protocolizarán en una notaría del respectivo circuito la prueba idónea de la existencia y representación de dichas personas jurídicas y del poder correspondiente. Además, un extracto de los documentos protocolizados se inscribirá en la oficina pública correspondiente.</p>

        <p>Las personas jurídicas extranjeras que no tengan negocios permanentes en Colombia estarán representadas en los procesos por el apoderado que constituyan con las formalidades previstas en este código. Mientras no lo constituyan, llevarán su representación quienes les administren sus negocios en el país”.</p>

        <h4>Se inscribe:</h4>
        <p>Protocolización designación apoderado en Colombia.</p>
        <p>Modificación de facultades al apoderado.</p>
        <p>Cancelación o Revocatoria del apoderado.</p>

        <h4>Normatividad Aplicable:</h4>
        <p>Código General del Proceso artículo 58</p>
        <p>Circular 008 de la SIC</p>
    </section>
</main>