<div class="error-page" style="background-image: url('gifs/404-fondo.gif');">
    <div class="error-content" >
      <h1 class="error-title">404</h1>
      <img src="svgs/404-monster.svg" alt="Página no encontrada" class="error-icon">
      <p class="error-message">Oops! No encontramos esta página.</p>
      <p class="error-description">Es posible que la página que buscas haya sido movida o ya no exista.</p>
      <div class="buttons">
        <button (click)="goHome()">Ir a Inicio</button>
      </div>
    </div>
</div>
  