@import "./../../../styles.scss";

.video-grid {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  column-gap: 20px;
}

.video-card {
  position: relative;
  width: 270px;
  height: 480px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 0;
}

iframe {
  width: 100%;
  height: 100%;
  border-radius: 16px;

  &.LT { height: 300px; }
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0;

  &:hover {
    opacity: 1;

    background-color: rgba(0, 0, 0, 0.5);
    color: $white;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    column-gap: 0.5em;

    justify-content: center;
    align-items: center;

    i {
      background: red;
      padding: 1.5rem;
      border-radius: 5px 10px;
      cursor: pointer;
    }
  }
}

.modal {
  &-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

  &-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 700px;
    background-color: transparent;
    z-index: 1000;
    overflow: hidden;
  }

  &-header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: transparent;
  }

  &-close {
    background: none;
    cursor: pointer;
    color: $anti-white;
    font-size: 2em;
    padding: 0;
    border: 3px solid $anti-white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  &-content {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}
