<main>
    <app-title [title]="'Política de seguridad y salud en el trabajo'"></app-title>

    <section class="explanation">
        <p>
            La Cámara de Comercio de Magangué se compromete a mejorar continuamente las condiciones de trabajo y salud de la población trabajadora a través del desarrollo del Sistema de Gestión en 
            Seguridad y Salud en el trabajo, el cual permitirá identificar, evaluar y controlar los factores de riesgos que puedan producir accidentes de trabajo y/o enfermedades Laborales; para 
            lo cual se destinarán los recursos financieros necesarios y se le dará cumplimiento a la normatividad legal vigente que en materia de Seguridad y Salud en el Trabajo se ha expedido.
        </p>
    </section>
</main>