@import './../../../../styles.scss';

main {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin: 2.5rem 0;

    > * {
        display: flex;
        place-content: center;
        place-items: center;
        padding: 0 15%;
    }
}

section {
    &.title {
        padding: 1rem 0;
        text-transform: uppercase;
        background: $primary-color;
        color: $white;
    }

    &.contenido {
        flex-direction: column;

        p { text-align: justify; }

        ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: center;
        
            .card {
                width: 18rem;
                border-radius: 8px;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
                background-color: #f8f9fa;
                transition: transform 0.2s ease-in-out;
                
                &:hover { transform: translateY(-5px); }
        
                .card-body {
                    padding: 1rem;
                    text-align: center;
                    font-size: 1rem;
                    color: $primary-color;
                }
            }
        }
    }
}