<main>
    <app-title [title]="'Registro Nacional de turismo'"></app-title>

    <section class="contexto">
        <p>La solicitud de la inscripción, renovación, actualización, actualización por cambio de domicilio o cancelación se hará mediante la presentación del formulario único adoptado por la Superintendencia de Industria y Comercio para tal fin, debidamente diligenciado, al cual se anexará la documentación exigida en el Decreto 1510 del 17 de julio de 2013, previo pago de los derechos que origina el trámite de acuerdo con las tarifas aprobadas por el Gobierno Nacional.</p>
        <p>
            <strong>Para tener en cuenta: </strong>
            ¡El prestador de servicios turísticos efectuará la inscripción, actualización, reactivación, suspensión o cancelación del registro a través de la plataforma electrónica habilitada por la Cámara de Comercio http://rntmagangue.confecamaras.co/
        </p>
    </section>

    <section class="acordion">
        <app-acordeon [information]="information"></app-acordeon>
    </section>
</main>