<h2 class="section-title">
    <i class="fa-solid fa-users fa-xl"></i>
    Usuarios
</h2>

<section class="tabs">
    <div class="card">
        <p-tabView>
            <!-- Tab para Listar usuarios -->
            <p-tabPanel header="Listar">
                <p-table [value]="usuarios" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Activo</th>
                            <th>Botones</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-user>
                        <tr>
                            <td>{{ user.nombre }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                <p-toggleButton [(ngModel)]="user.activo" onLabel="Sí" offLabel="No"
                                    (onChange)="toggleActive(user.id, user.activo)">
                                </p-toggleButton>
                            </td>
                            <td>
                                <button pButton icon="pi pi-pencil" (click)="editUser(user.id)"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-tabPanel>
            <p-tabPanel header="Agregar">
                <div class="form">
                    <form (ngSubmit)="onSubmitCrear()">
                        <div class="form-group form-group--full">
                            <label for="nombre">Nombre</label>
                            <input pInputText id="nombre" [(ngModel)]="newUser.nombre" name="nombre" required />
                        </div>
                        <div class="form-group form-group--full">
                            <label for="email">Email</label>
                            <input pInputText id="email" [(ngModel)]="newUser.email" name="email" required />
                        </div>
                        <div class="form-group form-group--full">
                            <label for="password">Contraseña</label>
                            <input pPassword id="password" [(ngModel)]="newUser.password" name="password" required />
                        </div>
                        <div class="form-footer">
                            <button pButton label="Guardar" icon="pi pi-check" type="submit"></button>
                        </div>
                    </form>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</section>

<app-return-admin></app-return-admin>

<!-- Modal de edición -->
<p-dialog [(visible)]="displayEditModal" [modal]="true" [closable]="false" [style]="{width: '50vw'}" [resizable]="false">
    <h3>Editar Usuario</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input pInputText id="nombre" [(ngModel)]="selectedUser.nombre" name="nombre" required />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input pInputText id="email" [(ngModel)]="selectedUser.email" name="email" required />
        </div>
        <div class="form-group" *ngIf="isEditPassword">
            <label for="password">Contraseña</label>
            <input pPassword id="password" [(ngModel)]="selectedUser.password" name="password" />
        </div>
        <div class="form-footer">
            <button pButton label="Guardar" icon="pi pi-check" type="submit"></button>
            <button pButton label="Cancelar" icon="pi pi-times" (click)="closeEditModal()"></button>
        </div>
    </form>
</p-dialog>
