<main>
    <app-title [title]="'Registro Mercantil'"></app-title>

    <section class="contexto">
        <h2>Matricula Mercantil</h2>
        <h3>¿Qué es una persona natural comerciante?</h3>
        <p>Son comerciantes las personas que se ocupan en alguna de las actividades que la ley considera mercantiles (Artículo 10 Código de Comercio). Deben matricularse ante la Cámara de Comercio todas las personas naturales que realicen en forma permanente o habitual actividades mercantiles. La Matrícula Mercantil es un medio de identificación y da publicidad a la condición de comerciante.</p>
        <p>Los menores adultos (mujeres y hombres desde 14 años, sentencia C-534 del 24 de Mayo de 2005, Corte Constitucional) pueden, con autorización de sus representantes legales, ocuparse en actividades mercantiles en nombre o por cuenta de otras personas y bajo la dirección y responsabilidad de éstas.</p>
    </section>

    <section class="acordion">
        <app-acordeon [information]="information"></app-acordeon>
    </section>
</main>