@import "./../../../../../styles.scss";

section {
  &.menu {
    .sidebar-menu {
      list-style-type: none;
      padding: 0;

      li {
        padding: 10px 15px;
        cursor: pointer;
        border-bottom: 1px solid #e0e0e0;
        font-weight: bold;
        color: #333;
        transition: background 0.3s;

        &:hover {
          background-color: #007ad9;
          color: white;
        }
      }
    }
  }

  &.administrativa {
    .admin-dashboard {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;

      .header {
        text-align: center;
        margin-bottom: 20px;

        h1 {
          font-size: 2rem;
          color: $dark-gray;
        }

        p {
          color: $light-gray;
        }
      }

      .card-container {
        display: flex;
        gap: 20px;
        width: 80%;
        margin-bottom: 30px;
        margin-left: auto;

        .info-card {
          width: 400px;
          padding: 10px;
          border-radius: 8px;
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
          cursor: pointer;
          transition: transform 0.3s, box-shadow 0.3s;

          &:hover {
            transform: scale(1.05);
            box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.15);
          }

          p {
            color: #555;
            font-size: 1rem;
          }
        }
      }
    }
  }
}

::ng-deep .p-dialog {
  width: 500px;
  border-radius: 10px;
  padding: 20px;

  .news-form {
    .p-field {
      margin-bottom: 15px;

      label {
        display: block;
        font-weight: bold;
        color: #333;
        margin-bottom: 5px;
      }

      #image {
        display: block;
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 6px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
        transition: border-color 0.3s;
        cursor: pointer;

        &:hover {
          border-color: #007ad9;
        }
        &:focus {
          border-color: #005ea6;
          outline: none;
        }
      }

      input,
      textarea {
        width: 100%;
        padding: 10px;
        border-radius: 6px;
        border: 1px solid #ccc;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
        transition: border-color 0.3s;

        &:focus {
          border-color: #007ad9;
        }
      }
    }

    button {
      width: 100%;
      background-color: #007ad9;
      color: #fff;
      border-radius: 6px;
      padding: 10px;
      font-weight: bold;
      transition: background-color 0.3s;

      &:hover {
        background-color: #005ea6;
      }
    }
  }

  .video-form {
    .p-field {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.75rem;

      .minimal-label {
        font-size: 0.9rem;
        color: #666;
        margin-bottom: 0.3rem;
      }

      .minimal-input {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 0.5rem;
        font-size: 0.95rem;
        color: #333;

        &:focus {
          border-color: #007bff;
          box-shadow: none;
        }
      }

      .minimal-dropdown .p-dropdown-label {
        font-size: 0.95rem;
        padding: 0.5rem;
        color: #333;
      }

      .minimal-dropdown {
        border-radius: 4px;
        width: 100%;
        font-size: 0.95rem;
        color: #333;
        background-color: #fff;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
  
        &:hover {
          border-color: #ccc;
        }
  
        &:focus-within {
          border-color: #007bff;
          box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
        }
  
        .p-dropdown-trigger {
          color: #666;
          &:hover {
            color: #007bff;
          }
        }
  
        .p-dropdown-panel {
          border: 1px solid #ddd;
          border-radius: 4px;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        }
  
        .p-dropdown-item {
          padding: 0.5rem;
          font-size: 0.95rem;
          color: #333;
          transition: background-color 0.2s ease;
  
          &:hover {
            background-color: #f0f8ff;
          }
        }
  
        .p-dropdown-item.p-highlight {
          background-color: #007bff;
          color: #fff;
        }
      }

      .minimal-button {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
}

::ng-deep p-dropdown .p-dropdown {
  width: 100%;
}
