@import './../../../../styles.scss';

section {
    &:not(.title) {
        flex-direction: row;
        align-items: start;
        text-align: center;
        column-gap: 2rem;

        > * {
            padding: 2rem;
            border-radius: 20px;
            background: $anti-white;
        }
    }
}

:host ::ng-deep p-organizationChart{
    table {
        .text-center :last-child { font-weight: 700; }
        td div.p-organizationchart-node-content { border-radius: 10px 20px; }
    }
}