<main>
    <app-title [title]="'COSTUMBRE MERCANTIL'"></app-title>

    <section class="acordeon">
        <app-acordeon [information]="data"></app-acordeon>
    </section>

    <section class="documentos">
        <p-carousel 
            [value]="documentos" 
            [numVisible]="3" 
            [numScroll]="1" 
            [circular]="true" 
            [autoplayInterval]="3000"
            [showIndicators]="false"
            styleClass="custom-carousel"
            >
                <ng-template pTemplate="item" let-documento>
                    <div class="documento-item">
                    <i class="fa-solid fa-file-pdf fa-2xl"></i>
                    <h3>{{ documento.nombre }}</h3>
                    <button pButton type="button" icon="pi pi-download" label="DESCARGAR" (click)="descargar(documento.url)"></button>
                    </div>
                </ng-template>
            </p-carousel>
    </section>
</main>