<main>
    <app-title [title]="'Política de Administración de riesgos'"></app-title>

    <section class="explanation">
        <p>
            La cámara de comercio de Mangangué, desarrolla un sistema de administración de riesgos que le permite controlar todos aquellos factores que puedan afectar el cumpliento
            de los objetivos estraégicos y de los procesos de la entidad; mediante la identificación, análisis, valoración y tratamiento de los riesgos, estableciendo medidas de control
            efectivas que ayuden con la reducción de los mismos; los cuales evaluarán las acciones y controles implementados para ello.
        </p>
    </section>
</main>