<main>
    <app-title [title]="'Registro Único de proponentes'"></app-title>

    <section class="contexto">
        <p>Toda actuación se debe registrar en el orden cronológico en que ingresa, con base en los documentos que presenten los interesados, y las entidades estatales, previa verificación documental de conformidad con lo previsto en la normatividad vigente.</p>
        <p>La solicitud de la inscripción, renovación, actualización, actualización por cambio de domicilio o cancelación se hará mediante la presentación del formulario único adoptado por la Superintendencia de Industria y Comercio para tal fin, debidamente diligenciado, al cual se anexará la documentación exigida en el Decreto 1510 del 17 de julio de 2013, previo pago de los derechos que origina el trámite de acuerdo con las tarifas aprobadas por el Gobierno Nacional.</p>
    </section>

    <section class="acordion">
        <app-acordeon [information]="information"></app-acordeon>
    </section>
</main>