<main>
    <app-title [title]="'Formulario de solicitudes pqrs'"></app-title>

    <section class="contenido">
        <p>
            La Cámara de Comercio de Magangué ha dispuesto un formulario en línea para que usted diligencie fácilmente sus Quejas, Reclamos, 
            Sugerencias/Solicitudes y Felicitaciones.
        </p>
        <p>
            Diligencie el formulario que se encuentra a continuación y su solicitud será resuelta a la mayor brevedad posible.
        </p>
        <p>
            <strong>NOTA: </strong> Es importante diligenciar todos los campos correctamente. Usted recibirá a su buzón de correo un mensaje con el número 
            de su solicitud.
        </p>
        <p-divider />
        En concordancia con la Ley 1581 de 2012 y en mi calidad de titular de datos personales, faculto de manera expresa a esta Entidad y/o a las entidades 
        que hacen parte de la Cámara de Comercio de Magangué, al tratamiento sistematizado y compartido por parte de cualquiera de ellas, de mis datos 
        personales y en general, la información obtenida en virtud del vínculo establecido o que se llegare a establecer, con el objeto de que se midan 
        los resultados y/o el impacto de mi opinión.
        <p-divider />
    </section>
</main>