<p-accordion [activeIndex]="0">
  @for (item of information; track $index) {
    <p-accordionTab header="{{ item.header }}">
      @for (subitems of item.contenido; track $index) {
        @if(subitems.tipo === 'lista') {
          <ul>
            @for (list of subitems.valor; track $index) {
              <li>{{ list }}</li>
            }
          </ul>
        }
        @else if (subitems.tipo === 'parrafo') {
          <p>{{ subitems.valor }}</p>
        }
        @else if (subitems.tipo === 'formatted') {
          <p [innerHTML]="subitems.valor"></p>
        }
        @else if (subitems.tipo === 'link') {
          <a [href]="subitems.valor">{{ subitems.valor }}</a>
        }
      }
    </p-accordionTab>
  }
</p-accordion>