@if (showHeaderFooter) {
  <app-header></app-header>
}
<router-outlet/>

<div class="floating-wpp">
  <i class="fa-brands fa-whatsapp fa-xl" (click)="wpp()" ></i>
</div>

<div class="floating-chat">
  <i class="fa-solid fa-comments fa-xl" (click)="callBot()"></i>
</div>
<div #chatContainer></div>

<div class="floating-assistant">
  <i class="fa-brands fa-accessible-icon fa-xl" (click)="callAssistenteVirtual()"></i>
</div>
<div #assistantVirtualContainer></div>

@if (showHeaderFooter) {
  <app-footer></app-footer>
}
