<h2>
    <i class="fa-solid fa-gavel fa-xl"></i>
    Leyes de Transparencia
</h2>

<section class="tabs">
    <div class="card">
        <p-tabView>
            @for (item of tabs; track $index) {
            <p-tabPanel [header]="item.header">
                @if (item.header == 'Decretos') {
                <p-table [value]="decretos" class="decretos-table">
                    <ng-template pTemplate="header">
                        <tr>
                            @for (item of tabs[0].columnas; track $index) {
                            <th>{{ item.header }}</th>
                            }
                            <th>Acciones</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-decreto>
                        <tr>
                            @for (item of tabs[0].columnas; track $index) {
                            @if (item.field != 'estado') {
                            <td>{{ decreto[item.field] }}</td>
                            }
                            @else {
                            <td>
                                <span class="estado" [ngClass]="{
                                                    'activo': decreto.estado === 'Activo',
                                                    'inactivo': decreto.estado === 'Inactivo',
                                                    'pendiente': decreto.estado === 'Pendiente'
                                                    }">
                                    {{ decreto.estado }}
                                </span>
                            </td>
                            }
                            }
                            <td>
                                <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-info p-button-text"
                                    (click)="openEditModal(decreto)">
                                </button>
                                <button pButton icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger p-button-text"
                                    (click)="deleteDecreto(decreto.id)">
                                </button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

                <button pButton label="Agregar Decreto" class="p-button-rounded p-button-success"
                    style="margin-top: 1rem;" (click)="openAddModal()"></button>
                }
                @else if (item.header == 'Información') {
                    <div class="acordeon">
                        <button (click)="addSection()">Agregar Sección</button>
                        <div *ngFor="let section of sections; let i = index">
                          <input [(ngModel)]="section.header" placeholder="Nombre de la sección" />
                      
                          <button (click)="addContent(i, 'lista')">Agregar Lista</button>
                          <button (click)="addContent(i, 'parrafo')">Agregar Párrafo</button>
                          <button (click)="addContent(i, 'link')">Agregar Link</button>
                          <button (click)="addContent(i, 'formatted')">Agregar Formato</button>
                      
                          <div *ngFor="let content of section.content; let j = index">
                            <ng-container [ngSwitch]="content.type">
                              <div *ngSwitchCase="'lista'">
                                <h4>Lista</h4>
                                <button (click)="addListItem(i, j)">Agregar Item de Lista</button>
                      
                                <div *ngFor="let item of content.valor; let k = index">
                                  <input [(ngModel)]="item.label" placeholder="Etiqueta" />
                                  <input [(ngModel)]="item.pagina" placeholder="Página" />
                                  <button (click)="addSubitem(i, j, k)">Agregar Subitem</button>
                      
                                  <div *ngFor="let subitem of item.subitems; let l = index">
                                    <input [(ngModel)]="subitem.label" placeholder="Etiqueta Subitem" />
                                    <input [(ngModel)]="subitem.pagina" placeholder="Página Subitem" />
                                  </div>
                                </div>
                              </div>
                      
                              <div *ngSwitchCase="'parrafo'">
                                <h4>Párrafo</h4>
                                <input [(ngModel)]="content.valor" placeholder="Contenido del párrafo" />
                              </div>
                      
                              <div *ngSwitchCase="'link'">
                                <h4>Link</h4>
                                <input [(ngModel)]="content.valor" placeholder="Texto del enlace" />
                                <input [(ngModel)]="content.enlace" placeholder="URL del enlace" />
                              </div>
                      
                              <div *ngSwitchCase="'formatted'">
                                <h4>Contenido Formateado</h4>
                                <textarea [(ngModel)]="content.valor" placeholder="HTML o texto formateado"></textarea>
                              </div>
                            </ng-container>
                          </div>
                        </div>
                        <button style="margin-top: 1rem;" (click)="saveData()">Guardar</button>
                      </div>
                      

                }
            </p-tabPanel>
            }
        </p-tabView>
    </div>
</section>

<app-return-admin></app-return-admin>