<main>
    <app-title [title]="'Registro único empresarial'"></app-title>

    <section class="contexto">
        <p>
            Es la primera red nacional de servicios regístrales, que integra y centraliza el Registro Mercantil y el Registro de Proponentes que administran las Cámaras de Comercio. 
            Es el Principal aliado estratégico del sector empresarial y del Gobierno Nacional, al ofrecer información y operaciones confiables y oportunas para la toma de decisiones 
            comerciales y económicas. <br>
            El RUE (Registro Único Empresarial) es un requisito establecido en el artículo 11 de la Ley 590 de 2000, obligatorio para todas las Cámaras de Comercio del país, el cual 
            entró en vigencia el 1º de enero de 2005. <br>
            A través del RUE los comerciantes y empresarios tienen la posibilidad de efectuar los trámites de registros públicos que requieran desde cualquier Cámara de Comercio del país. 
            para ingresar has clic aqui: <a href="https://ruesfront.rues.org.co">RUES</a>
        </p>
    </section>

    <section class="acordion">
        <app-acordeon [information]="information"></app-acordeon>
    </section>
</main>