<main>
    <app-title [title]="'Registro publico de veedurías ciudadanas'"></app-title>

    <section class="contenido">
        <h4>Este registro corresponde a las diferentes organizaciones que ejercen vigilancia sobre:</h4>
        <span>La gestión pública, autoridades, administrativas, políticas, judiciales, electorales, legislativas y órganos de control</span>

        <p>Entidades públicas o privadas: Organizaciones No Gubernamentales de carácter nacional ointernacional que operen en el país, encargadas de la ejecución de un programa, proyecto,contrato o de la prestación de un servicio público.</p>
        <p>Si desea más información, consulte el artículo 1 de la Ley 850 de 2003.</p>

        <h4>Trámites relacionados con este registro:</h4>
        <ul>
            <li>Constitución de la veeduría o red de veedurías.</li>
            <li>ECancelación de la inscripción de la veeduría o red de veedurías</li>
            <li>Renovación anual de la inscripción de la veeduría o red de veedurías.</li>
            <li>Inscripción y reconocimiento de la red de veedurías ciudadanas.</li>
        </ul>

        <p>La inscripción de todos los actos y documentos que se prevé para las personas jurídicas entidades sin ánimo de lucro</p>
        <p>
            <strong>Procedimiento para inscripción:</strong> Las organizaciones civiles o los ciudadanos, procederán a elegir de una forma democrática a los veedores, luego elaborarán un documento 
            o acta de constitución en la cual conste el nombre de los integrantes, documento de identidad, el objeto de la vigilancia,nivel territorial, duración y lugar de residencia.
        </p>
            
    </section>
</main>