@import './../../../styles.scss';

main {
  margin: 0;
  display: grid;
  grid-gap: 20px;
}

div.card {
  padding: 0 !important;
  p-galleria { width: 100%; }
}

.galleria-image {
  width: 100%;
  height: 550px;
  object-fit: cover;
}

h2 {
  text-align: center;
  background: rgba(83, 144, 217, 0.2);
  line-height: 3rem;
  border-radius: 30px 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: center;

  &:nth-child(2) { margin: 0 15%; }
}

:host ::ng-deep section {
  &:not(.noticias) {
    flex-direction: column;

    h2, 
    app-actividad-empresarial,
    app-videos
    { width: 100%; }
  }

  &.noticias{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1em;

    app-segundarias {
      display: grid;
      row-gap: 8px;
    }
  }

  &.tramites {
    .card-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: space-around;

      .card {
        cursor: pointer;
        width: 400px;
        height: 150px;
        background-color: $white;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        position: relative;
        overflow: hidden;

        p {
          position: relative;
          z-index: 2;
          font-size: 1.125em;
          color: #333;
          transition: color 0.3s ease;
          text-align: center;
        }

        &:hover {
          transform: translateY(-10px);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

          &:before { height: 100%; }
          p { color: $white; }
        }

        &:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0;
          background-color: inherit;
          transition: height 0.5s ease;
          z-index: 1;
        }

        &:first-child {
          border-bottom: 5px solid #50a280;
          &:before { background-color: #50a280; }
        }
        &:nth-child(2) {
          border-bottom: 5px solid #00a8e8;
          &:before { background-color: #00a8e8; }
        }
        &:nth-child(3) {
          border-bottom: 5px solid #8f2eb9;
          &:before { background-color: #8f2eb9; }
        }
        &:nth-child(4) {
          border-bottom: 5px solid #97c020;
          &:before { background-color: #97c020; }
        }
        &:nth-child(5) {
          border-bottom: 5px solid #f7b32b;
          &:before { background-color: #f7b32b; }
        }
        &:nth-child(6) {
          border-bottom: 5px solid #ff3933;
          &:before { background-color: #ff3933; }
        }
        &:last-child {
          border-bottom: 5px solid #C04F6A;
          &:before { background-color: #C04F6A; }
        }
      }
    }
  }

  &.interes {
    .p-carousel {
      .p-carousel-container .p-carousel-items-container {
        .p-carousel-item { align-content: center; }

        .card {
          &-content {
            position: relative;
            width: 100%;
            height: 100%;
          }

          &-image {
            width: 80%;
            height: 100%;
            object-fit: contain;
            aspect-ratio: 4/3;
            cursor: pointer;
            mix-blend-mode: color-burn;
          }
        }
      }
    }
  }
}

:host ::ng-deep p-galleriaitem .p-galleria-item-prev{ z-index: 2000; }

@keyframes ocean-wave {
  0% { background-position: 0 100%; }
  100% { background-position: 200% 100%; }
}

// Estilos responsivos
@media screen and (max-width: 1350px) and (min-width: 1201px) {
  main {  
    .galleria-image { height: 650px; }
  }
}
@media screen and (max-width: 1200px) and (min-width: 1025px) {

  .card {
    .galleria-image {
      height: 650px;
      object-fit: initial;
    }
  }

  :host ::ng-deep section {
    &.noticias {
      flex-direction: column;
      row-gap: 1em;

      app-principales {
        p-carousel .p-carousel .p-carousel-content { width: auto; }
      }

      app-segundarias {
        .card-container { height: 400px; }
      }
    }

    &.tramites {
      .card-container .card { width: 300px; }
    }

    &.videos {
      .video-grid {
        gap: 1em;
        justify-content: center;
        .video-card {  width: calc(50% - 0.5em); }
      }
    }
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  :host ::ng-deep section {
    &.noticias {
      app-principales {
        p-carousel .p-carousel .p-carousel-content { 
          max-width: 350px; 
          width: auto;
          min-width: 300px
        }
      }
    }

    &.tramites {
      .card-container .card {
        width: 200px;
        padding: 10px !important;
      }
    }

    &.empresarial {
      app-actividad-empresarial {
        .image-header .overlay h1 { font-size: 2rem; }
        .news-cards { margin-top: -25%; } 
      }
    }

    &.videos {
      .video-grid {
        gap: 1em;
        .video-card {  
          width: 100%;
          height: 200px
        }
      }
    }
  }
}
@media screen and (max-width: 957px) and (min-width: 768px) {
  .card {
    .galleria-image {
      height: 350px;
      object-fit: initial;
    }
  }
  
  :host ::ng-deep section {
    &.noticias {
      app-principales {
        .card-container { height: 500px; }
      }

      app-segundarias {
        .card-container { height: 250px; }
      }

      app-principales,
      app-segundarias {
        .card-text h2 { font-size: 0.75em !important; }
      }      
    }

    &.empresarial {
      app-actividad-empresarial {
        .image-header .overlay {
          align-items: flex-start;
        }
    
        .news-cards { 
          margin-top: -60%;
          row-gap: 1.75em;

          .card { 
            max-width: 100%;
            width: 95%;
            height: 130px;

            p { margin: 8px 0; }
          }
        } 
      }
    }
  }
}
@media screen and (max-width: 767px) and (min-width: 576px) {
  .card {
    .galleria-image {
      height: 300px;
      object-fit: cover;
    }
  }

  :host ::ng-deep section {
    &.noticias {
      flex-direction: column;
      row-gap: 1em;

      app-principales {
        .card-container { height: 400px; }
        p-carousel .p-carousel .p-carousel-content { 
          width: 100%;
        } 
      }

      app-segundarias {
        row-gap: 1em;
        .card-container { height: 350px; }
      }    
    }

    &.empresarial {
      app-actividad-empresarial {
        .image-header .overlay {
          align-items: start;
          h1 { font-size: 1.5rem !important; }
        }
    
        .news-cards { 
          margin-top: -70%;
          row-gap: 1.75em;

          .card { 

            h3 { min-height: 6.875em;}
            p { display: none; }
          }
        } 
      }
    }

    &.tramites {
      .card-container .card {
        width: 200px;
        padding: 10px !important;
      }
    }

    &.videos {
      .video-grid {
        row-gap: 1em;
        .video-card {  
          width: calc(250px - .5em);
          height: calc(250px);
        }
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .card {
    .galleria-image {
      height: 300px;
      object-fit: unset;
    }
  }

  :host ::ng-deep section {
    &.noticias {
      flex-direction: column;
      row-gap: 1em;

      app-principales {
        .card-container { height: 325px; }
        p-carousel .p-carousel .p-carousel-content { width: 100%; } 
      }

      app-segundarias {
        row-gap: 1em;
        .card-container { height: 250px; }
      }    
    }

    &.empresarial {
      app-actividad-empresarial {
        .image-header .overlay {
          align-items: start;
          h1 { font-size: 1.25rem !important; }
        }
    
        .news-cards { 
          margin-top: -21.5em;
          row-gap: 1em;

          .card { 
            width: 85%;
            max-width: 300px;

            // display: flex;
            // justify-items: center;
            // align-items: center;

            // padding: 0 1em;

            h3 { min-height: 1em;}
            p { display: none; }
          }
        } 
      }
    }

    &.tramites {
      .card-container .card {
        width: 100%;
        height: 100px;
      }
    }

    &.videos {
      .video-grid {
        row-gap: 1em;

        .video-card {  
          width: 100%;
          height: 180px;
        }
      }
    }

    &.interes {
      .p-carousel {
        .p-carousel-container .p-carousel-items-container {
          .card-image {
            width: 100%;
          }
        }
      }
    }
  }
}