@import './../../../styles.scss';

main {
  margin: 1rem 0;
  display: grid;
  grid-gap: 20px;
}

.galleria-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
}

:host ::ng-deep section {
  &.noticias,
  &.videos,
  &.interes,
  &.empresarial
  { padding: 0 15%; }

  &.noticias{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1em;

    app-segundarias {
      display: grid;
      row-gap: 8px;
    }
  }

  &.interes {
    h2 {
      text-align: center;
      background: rgba(83, 144, 217, 0.2);
      line-height: 3rem;
      border-radius: 25px 10px 25px;
    }

     .p-carousel {
        .p-carousel-container .p-carousel-items-container {
          .p-carousel-item { align-content: center; }

          .card {
            &-content {
              position: relative;
              width: 100%;
              height: 100%;
            }

            &-image {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
    }
  }
}
