@import './../../../styles.scss';

main {
  margin: 0;
  display: grid;
  grid-gap: 20px;
}

div.card {
  padding: 0 !important;
  p-galleria { width: 100%; }
}

.galleria-image {
  width: 100%;
  height: 550px;
  object-fit: cover;
}

h2 {
  text-align: center;
  background: rgba(83, 144, 217, 0.2);
  line-height: 3rem;
  border-radius: 30px 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: center;

  &:nth-child(2) { margin: 0 15%; }
}

:host ::ng-deep section {

  &:not(.noticias) {
    flex-direction: column;

    h2, 
    app-actividad-empresarial,
    app-videos
    { width: 100%; }
  }

  &.noticias{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1em;

    app-segundarias {
      display: grid;
      row-gap: 8px;
    }
  }

  &.tramites {
    .card-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: space-around;

      .card {
        cursor: pointer;
        width: 400px;
        height: 150px;
        background-color: $white;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        position: relative;
        overflow: hidden;

        p {
          position: relative;
          z-index: 2;
          font-size: 1.125em;
          color: #333;
          transition: color 0.3s ease;
          text-align: center;
        }

        &:hover {
          transform: translateY(-10px);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

          &:before { height: 100%; }
          p { color: $white; }
        }

        &:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0;
          background-color: inherit;
          transition: height 0.5s ease;
          z-index: 1;
        }

        &:first-child {
          border-bottom: 5px solid #50a280;
          &:before { background-color: #50a280; }
        }
        &:nth-child(2) {
          border-bottom: 5px solid #00a8e8;
          &:before { background-color: #00a8e8; }
        }
        &:nth-child(3) {
          border-bottom: 5px solid #8f2eb9;
          &:before { background-color: #8f2eb9; }
        }
        &:nth-child(4) {
          border-bottom: 5px solid #97c020;
          &:before { background-color: #97c020; }
        }
        &:nth-child(5) {
          border-bottom: 5px solid #f7b32b;
          &:before { background-color: #f7b32b; }
        }
        &:nth-child(6) {
          border-bottom: 5px solid #ff3933;
          &:before { background-color: #ff3933; }
        }
        &:last-child {
          border-bottom: 5px solid #C04F6A;
          &:before { background-color: #C04F6A; }
        }
      }
    }
  }

  &.interes {
     .p-carousel {
        .p-carousel-container .p-carousel-items-container {
          .p-carousel-item { align-content: center; }

          .card {
            &-content {
              position: relative;
              width: 100%;
              height: 100%;
            }

            &-image {
              width: 80%;
              height: 100%;
              object-fit: cover;
              cursor: pointer;
            }
          }
        }
    }
  }

  &.videos {
    @media screen and (max-width: 1729px) {     
      .video-card { width: 400px; }
    }
  }
}

:host ::ng-deep p-galleriaitem .p-galleria-item-prev{
  z-index: 2000;
}

@keyframes ocean-wave {
  0% { background-position: 0 100%; }
  100% { background-position: 200% 100%; }
}
