<main class="contenido">
  <div class="card">
    <p-galleria
      [value]="images"
      [showItemNavigators]="true"
      [showThumbnails]="false"
      [showIndicators]="true"
      [showIndicatorsOnItem]="true"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template pTemplate="item" let-item>
        <img [src]="item.itemImageSrc" [alt]="item.alt" class="galleria-image" />
      </ng-template>
    </p-galleria>
  </div>

  <h2>
    <i class="fa-solid fa-newspaper fa-xl"></i>
    Noticias
  </h2>
  <section class="noticias">
    <app-principales></app-principales>
    <app-segundarias></app-segundarias>
  </section>

  <section class="tramites">
    <h2>
      <i class="fa-regular fa-folder-open fa-xl"></i>
      Registros Públicos
    </h2>
    <div class="card-container">
      <ng-container *ngFor="let item of cardViews">
        <div class="card" [routerLink]="item.url">
          <p>{{ item.title }}</p>
        </div>
      </ng-container>
    </div>
  </section>

  <section class="empresarial">
    <h2>
      <i class="fa-solid fa-people-line fa-xl"></i>
      Empresas
    </h2>
    <app-actividad-empresarial></app-actividad-empresarial>
  </section>

  <section class="videos">
    <h2>
      <i class="fa-solid fa-photo-film fa-xl"></i>
      Videos
    </h2>
    <app-videos callingComponent="home" [videos]="videos"></app-videos>
  </section>

  <section class="interes">
    <h2>
      <i class="fa-solid fa-globe fa-xl"></i>
      Sitios de interes
    </h2>
    <p-carousel
      [value]="sitiosInteres"
      [numVisible]="3"
      [circular]="false"
      [showIndicators]="false"
      [showNavigators]="false"
      [autoplayInterval]="3000"
    >
      <ng-template let-sitios pTemplate="item">
        <div class="card-container">
          <div class="card-content">
            <img [src]="sitios.img" class="card-image" />
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </section>
</main>
