<main>
    <app-title [title]="'Registro de las entidades de economía solidaria'"></app-title>

    <section class="contenido">
        <h3>Cooperativas, Fondos de Empleados y Asociaciones Mutuales</h3>
        <p>
            De conformidad con el Artículo 143 del Decreto 2150 de 1995, las entidades de naturaleza cooperativa, los fondos de empleados y las asociaciones mutuales, 
            así como sus organismos de integración y las instituciones auxiliares del cooperativismo, son Entidades Sin Ánimo de Lucro y se constituirán por escritura pública o documento privado.
        </p>

        <h3>De acuerdo con el artículo 4° de la Ley 79 de 1988, se define la Cooperativa así:</h3>
        <p>
            “Es cooperativa la empresa asociativa sin ánimo de lucro, en la cual los trabajadores o los usuarios, según el caso, son simultáneamente los aportantes y los gestores de la empresa, 
            creada con el objeto de producir o distribuir conjunta y eficientemente bienes o servicios para satisfacer las necesidades de sus asociados y de la comunidad en general.
        </p>

        <h4>Se presume que una empresa asociativa no tiene ánimo de lucro, cuando cumpla los siguientes requisitos:</h4>
        <div>
            <ul>
                <li> <span>Que establezca la irrepartibilidad de las reservas sociales y en caso de liquidación, la del remanente patrimonial.</span> </li>
                <li>
                    <span>
                        Que destine sus excedentes a la prestación de servicios de carácter social, al crecimiento de sus reservas y fondos, y a reintegrar a sus asociados para los mismos en 
                        proporción al uso de los servicios o a la participación en el trabajo de la empresa, sin perjuicio de amortizar los aportes y conservarlos en su valor real”.
                    </span>
                </li>
            </ul>
        </div>

        <p>
            De acuerdo con el artículo 2° de Decreto 1481 de 1989 define a los Fondos de Empleados, así: “son empresas asociativas, de derecho privado, sin ánimo de lucro, constituidas 
            por trabajadores dependientes y subordinados con las siguientes características:
        </p>

        <ul>
            @for (item of fondosEmpleados; track $index) {
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ item }}</h5>
                    </div>
                </div>
            }
        </ul>

        <p>
            Por su parte el artículo 2° del Decreto 1480 de 1989 define a la Asociación Mutual como: “personas jurídicas de derecho privado, sin ánimo de lucro, constituidas libre y 
            democráticamente por personas naturales, inspiradas en la solidaridad, con el objeto de brindarse ayuda recíproca frente a riesgos eventuales y satisfacer sus necesidades 
            mediante la prestación de servicios de seguridad social”.
        </p>

        <h5>Normatividad Aplicable:</h5>
        <ul>
            @for (item of cardsDecretosLeyes; track $index) {
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ item }}</h5>
                    </div>
                </div>
            }
        </ul>
    </section>
</main>