<h2>
    <i class="fa-solid fa-newspaper fa-xl"></i>
    Noticias
</h2>

<section class="tabs">
  <div class="card">
    <p-tabView>
      @for (item of tabs; track $index) {
        <p-tabPanel [header]="item.header">
          @if (item.header == 'Listar') {
              <div class="noticias-grid">
                  <p-card *ngFor="let noticia of noticias" class="noticia-card">
                    <ng-template pTemplate="header">
                      <img [src]="noticia.imagen_url" alt="{{ noticia.nombre }}" class="noticia-imagen" />
                    </ng-template>
                    <ng-template pTemplate="content">
                      <h2>{{ noticia.nombre }}</h2>
                      <p>{{ noticia.descripcion }}</p>
                    </ng-template>
                  </p-card>
              </div>
          }
          @else {
            <p-table [value]="noticias" class="acciones-table">
              <ng-template pTemplate="header">
                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th>Estado</th>
                  <th>Acciones</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-noticia>
                <tr>
                  <td>{{ noticia.id }}</td>
                  <td>{{ noticia.nombre }}</td>
                  <td>{{ noticia.descripcion }}</td>
                  <td>
                    <span class="estado" [ngClass]="{
                      'activo': noticia.estado === 'Activo',
                      'inactivo': noticia.estado === 'Inactivo',
                      'pendiente': noticia.estado === 'Pendiente'
                    }">{{ noticia.estado }}</span>
                  </td>
                  <td>
                    <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-info p-button-text"
                      (click)="openEditModal(noticia)">
                    </button>
                    <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text"
                      (click)="deleteAccion(noticia.id)">
                    </button>
                  </td>
                </tr>
              </ng-template>
            </p-table>

            <button pButton label="Agregar Noticia" icon="pi pi-plus" class="p-button-rounded p-button-success" (click)="openAddModal()"></button>
          }
        </p-tabPanel>
      }
    </p-tabView>
  </div>
</section>

<p-dialog header="Editar Acción" [(visible)]="displayEditModal" [modal]="true" [closable]="false" [style]="{ width: '500px', borderRadius: '8px' }">
  <div class="p-fluid">
    <!-- Nombre -->
    <div class="p-field">
      <label for="nombre">Nombre</label>
      <input id="nombre" type="text" pInputText [(ngModel)]="selectedAccion.nombre">
    </div>

    <!-- Descripción Corta -->
    <div class="p-field">
      <label for="descripcion">Descripción Corta</label>
      <textarea id="descripcion" pInputTextarea [(ngModel)]="selectedAccion.descripcion"></textarea>
    </div>

    <!-- Estado -->
    <div class="p-field">
      <label for="estado">Estado</label>
      <p-dropdown [appendTo]="'body'" [options]="estados" [(ngModel)]="selectedAccion.estado" placeholder="Seleccione un estado"></p-dropdown>
    </div>

    <!-- Fecha de Publicación -->
    <div class="p-field">
      <label for="fecha_publicacion">Fecha de Publicación</label>
      <input id="fecha_publicacion" type="date" pInputText [(ngModel)]="selectedAccion.fecha_publicacion">
    </div>

    <!-- Tipo -->
    <div class="p-field">
      <label for="tipo">Tipo</label>
      <p-dropdown [appendTo]="'body'" [options]="tipos" [(ngModel)]="selectedAccion.tipo" name="tipo" placeholder="Seleccione un tipo"></p-dropdown>
    </div>

    <!-- URL de Imagen -->
    <div class="p-field">
      <label for="imagen_url">URL de Imagen</label>
      <input id="imagen_url" type="text" pInputText [(ngModel)]="selectedAccion.imagen_url">
    </div>

    <!-- Contenido Completo -->
    <div class="p-field">
      <label for="contenido">Contenido Completo</label>
      <textarea id="contenido" pInputTextarea rows="6" [(ngModel)]="selectedAccion.contenido"></textarea>
    </div>

    <!-- Imagen Preview -->
    <div class="p-field" *ngIf="selectedAccion.imagen_url">
      <label>Vista Previa de Imagen</label>
      <img [src]="selectedAccion.imagen_url" alt="Imagen Vista Previa" style="width: 100%; max-height: 200px; object-fit: cover; border-radius: 8px; margin-top: 10px;">
    </div>
  </div>

  <p-footer>
    <button pButton label="Guardar" icon="pi pi-check" (click)="saveChanges()" class="p-button-text"></button>
    <button pButton label="Cancelar" icon="pi pi-times" (click)="displayEditModal = false" class="p-button-danger"></button>
  </p-footer>
</p-dialog>

<!-- Modal ADD -->
<p-dialog header="Agregar Noticia" [(visible)]="modalNoticias" [modal]="true" [closable]="false" [style]="{ width: '500px', borderRadius: '8px' }">
  <div class="news-form p-fluid">
      <form (ngSubmit)="submitForm()">
          <!-- Campo Título -->
          <div class="p-field">
              <label for="title">Título</label>
              <input id="title" type="text" pInputText [(ngModel)]="news.nombre" name="title" required />
          </div>

          <!-- Campo Descripción -->
          <div class="p-field">
              <label for="description">Descripción</label>
              <textarea id="description" pInputTextarea [(ngModel)]="news.descripcion" name="description" required></textarea>
          </div>

          <!-- Campo Contenido -->
          <div class="p-field">
              <label for="content">Contenido</label>
              <textarea id="content" pInputTextarea [(ngModel)]="news.contenido" name="content" required></textarea>
          </div>

          <!-- Campo Estado -->
          <div class="p-field">
              <label for="estado">Estado</label>
              <p-dropdown [appendTo]="'body'" [options]="statusOptions" [(ngModel)]="news.estado" name="estado" placeholder="Seleccione un estado"></p-dropdown>
          </div>

          <!-- Campo Fecha de Publicación -->
          <div class="p-field">
              <label for="fechaPublicacion">Fecha de Publicación</label>
              <input id="fechaPublicacion" type="date" pInputText [(ngModel)]="news.fecha_publicacion" name="fecha_publicacion" required />
          </div>

          <!-- Campo Tipo -->
          <div class="p-field">
              <label for="tipo">Tipo</label>
              <p-dropdown [appendTo]="'body'" [options]="tipos" [(ngModel)]="news.tipo" name="tipo" placeholder="Seleccione un tipo"></p-dropdown>
          </div>

          <!-- Campo Imagen con Vista Previa -->
          <div class="p-field">
              <label for="image">Imagen</label>
              <!-- <input type="file" #fileInput accept="image/*" (change)="onFileSelect($event)" /> -->
               <input id="image" type="text" pInputText [(ngModel)]="news.imagen_url" name="imagen" required />
          </div>

          <!-- Botones del Modal -->
          <p-footer>
              <button type="submit" pButton label="Guardar" icon="pi pi-check" class="p-button-text"></button>
          </p-footer>
      </form>
  </div>
</p-dialog>

<app-return-admin></app-return-admin>
