@import '../../../../../styles.scss';

section {
    flex-direction: column;

    &.contenido {
        align-items: baseline !important;
    }

    p { text-align: justify; }
    h3, h4 { color: $primary-color; }
    h3 { margin: 0 auto; }
    h4 { margin-bottom: 0; }

    ul:nth-child(3),
    ul:nth-child(12) {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    
        .card {
            width: 18rem;
            border-radius: 8px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
            background-color: #f8f9fa;
            transition: transform 0.2s ease-in-out;
            
            &:hover { transform: translateY(-5px); }
    
            .card-body {
                padding: 1rem;
                text-align: center;
                font-size: 1rem;
                color: $primary-color;
            }
        }
    }
}