<main>
    <section class="title">
        <h1>Mapa de Procesos</h1>
    </section>

    <section class="mapa">
        <div class="parte-superior">
            <h3>PROCESOS ESTRATÉGICOS</h3>
            <div class="processes-row">
                <div class="process">Planificación Estratégica</div>
                <div class="process">Gestión de Calidad</div>
                <div class="process">Gestión Financiera y Contable</div>
            </div>
        </div>

        <div class="parte-central">
            <div>
                <h3>Necesidades y Expectativas</h3>
                <ul>
                    <li>Matriculados</li>
                    <p-divider type="dashed" />
                    <li>Afiliados</li>
                    <p-divider type="dashed" />
                    <li>En procesos de formalización, conciliación y formación</li>
                    <p-divider type="dashed" />
                    <li>Otras partes interesadas</li>
                    <p-divider type="dashed" />
                </ul>
                </div>
            
                <div>
                <h3>PROCESOS MISIONALES</h3>
                    <h4>1. Atención al Cliente</h4>
                    <p-divider type="dashed" />
                    <h4>2. Registros Empresariales</h4>
                    <p-divider type="dashed" />
                    <h4>3. Conciliación y Arbitraje</h4>
                    <p-divider type="dashed" />
                    <h4>4. Gestión de Afiliados</h4>
                    <p-divider type="dashed" />
                    <h4>5. Formación Empresarial</h4>
                </div>
            
                <div >
                <h3>PROCESOS Y SERVICIOS</h3>
                <ul>
                    <li>RUES</li>
                    <p-divider type="dashed" />
                    <li>Formación Empresarial</li>
                    <p-divider type="dashed" />
                    <li>Investigaciones</li>
                    <p-divider type="dashed" />
                    <li>Formalización Empresarial</li>
                    <p-divider type="dashed" />
                    <li>Conciliación y Arbitraje</li>
                    <p-divider type="dashed" />
                    <li>Apoyo Empresarial</li>
                    <p-divider type="dashed" />
                    <li>Matriculados</li>
                    <p-divider type="dashed" />
                    <li>Afiliados</li>
                    <p-divider type="dashed" />
                </ul>
                </div>
        </div>
    
        <div class="parte-final">
            <div class="processes-row">
                <div class="process">Contratación y Compra</div>
                <div class="process">Talento Humano</div>
                <div class="process">Gestión Documental</div>
                <div class="process">Mantenimientos</div>
                <div class="process">TIC</div>
            </div>
        </div>
        
        <div class="footer">
            <h3>PROCESOS DE APOYO</h3>
            <p>Procesos de Seguimiento y Evaluación - Gestión de Control Interno</p>
        </div>
    </section>
</main>