@import './../../../../styles.scss';

main {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin: 2.5rem 0;

    > * {
        display: flex;
        place-content: center;
        place-items: center;
        padding: 0 15%;
    }
}

section {
    &.title {
        padding: 1rem 0;
        text-transform: uppercase;
        background: $primary-color;
        color: $white;
    }

    &.mapa {
        text-align: center;
        flex-direction: column;
        row-gap: 2rem;

        .processes-row {
            display: flex;
            justify-content: center;
            gap: 1rem;

            .process {
                padding: 10px;
                border-radius: 5px;
                width: 200px;

                display: flex;
                justify-content: center;
                align-items: center;

                color: $white;
                &:nth-child(odd) { background-color: $primary-color; }
                &:nth-child(even) { background-color: $quinary-color; }
            }
        }

        .parte-central {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 3rem;
            justify-content: center;

            div {
                border-radius: 30px;

                &:nth-child(2) { 
                    background: $secondary-color; 
                    color: $white;

                    h3 { 
                        text-decoration: underline; 
                        padding: 0.75rem;
                    }
                }

                &:not(:nth-child(2)) { 
                    border: 2px dashed $secondary-color;
                    
                    h3 {
                        padding: 0.75rem;
                        background: #5390D9;
                        color: $white;
                        width: 90%;
                        border-radius: 20px;
                        margin: auto;
                    }

                    ul {
                        list-style: none;
                        padding: 0;

                        li { padding: 5px; }
                    }
                }
            }
        }

        .footer {
            h3 {
                text-decoration: underline;
                color: $black;
            }

            p {
                padding: 0.75rem;
                background: $secondary-color;
                color: $white;
                border-radius: 20px;
            }
        }
    }
}
  

  