@import "./../../../../../styles.scss";

h2 {
  text-align: center;
  background: rgba(83, 144, 217, 0.2);
  line-height: 3rem;
  border-radius: 30px 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: center;

  font-size: 1.5rem;
  color: #333;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

section {
  &.tabs {
    .card {
      width: 100%;

      padding: 1rem;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: #fff;
    }

    width: 80%;
    margin-left: auto;
    padding-right: 20px;
  }
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333333;
  }

  input,
  textarea,
  p-dropdown {
    width: 100%;
    padding: 10px 15px;

    &:not(p-dropdown) {
      border: 1px solid #d1d1d1;
    }
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s;

    &:focus {
      border-color: #007ad9;
      box-shadow: 0 0 5px rgba(0, 122, 217, 0.3);
      outline: none;
    }
  }
}

button {
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;

  &:hover {
    background-color: #005bb5;
  }
  &:active {
    transform: scale(0.98);
  }
}

.p-field {
  margin-bottom: 15px;
}

.ng-invalid.ng-touched {
  border-color: #ff4d4f;
}
