@import './../../../styles.scss';

section {
    &.tabs .card{ width: 100%; }
}

:host ::ng-deep p-tabView .p-tabview {
    
    .p-tabview-nav-content .p-tabview-nav {
        justify-content: space-between;

        .p-highlight a {
            border-color: $primary-color;
            color: $primary-color;
        }
    }
}