<main>
    <section class="menu">
        <p-panelMenu [model]="items" (onNodeSelect)="onMenuSelect($event)"></p-panelMenu>
    
        <div class="content">
            <a href="#" class="enlace" *ngIf="selectedItem === 'Certificados Electrónicos'">
                <div class="enlace-top">
                  <img class="fondo" src="https://s3.pagegear.co/3/content_block/6/items/14_1920x1080.png?1383868" alt="Certificado">
                  <div class="show">
                    <h2>Obtén aquí tu Certificado</h2>
                    <img src="https://s3.pagegear.co/3/content_block/15/items/99_1920x1080.jpg?2010048" alt="">
                  </div>
                  <p class="enlace-descripcion">
                    Como Comerciante, Entidad Sin Ánimo de Lucro y Proponente.
                  </p>
                </div>
                <span class="enlace-flecha fa fa-arrow-right"></span>
            </a>
            <p-card *ngIf="selectedItem === 'Renovación Registros Públicos'" title="Renovación Registros Públicos">
                <p>Contenido para Renovación Registros Públicos.</p>
                <div class="image-content"></div>
            </p-card> 
        </div>
    </section>
</main>