<main>
  <app-title [title]="'Mecanismos para la atención al ciudadano'"></app-title>

  <section class="container">
    <p-card class="info-card">
      <p class="info-text">
        En cumplimiento a la <a href="https://www.funcionpublica.gov.co/eva/gestornormativo/norma.php?i=56653" target="_blank">Ley 1712 del 6 de marzo de 2014</a>, la <strong>Cámara de Comercio de Magangué</strong> pone a disposición de la ciudadanía la siguiente información.
      </p>
    </p-card>
  
    <p-card class="info-card" header="Recepción">
      <p>Teléfono: +57 (605) 5846175, Magangué, Bolívar</p>
      <p>Whatsapp: 314-773-4540</p>
      <p>Comunica con todas las dependencias.</p>
    </p-card>
  
    <p-card class="info-card" header="Horarios de Atención al Público">
      <p>De Lunes a Viernes, Sábado día no hábil</p>
      <p>08:00 a.m. – 12:00 m.</p>
      <p>02:00 p.m. – 06:00 p.m.</p>
      <p class="important-note">
        Es importante recordar que la entidad presta atención al público de manera virtual de lunes a domingos las 24 horas del día.
      </p>
    </p-card>
  
    <p-card class="info-card" header="Canales de Comunicación">
      <p>Correo Electrónico para la Recepción de Solicitud de Información:</p>
      <a href="mailto:ccmagangue@ccmagangue.org.co">{{"ccmagangue@ccmagangue.org.co"}}</a>
  
      <p>Correo Físico:</p>
      <p>Cra. 4 No. 12 – 12 en el piso 1, Barrio: Centro.</p>
    </p-card>
  
    <p-card class="info-card" header="Redes Sociales y Portal Web">
      <p>Síguenos en nuestras redes sociales para enterarte de nuestras noticias y actividades:</p>
      <ul>
        <li><a href="https://www.facebook.com/ccmagangue/" target="_blank">Facebook</a></li>
        <li><a href="https://x.com/ccmagangue" target="_blank">Twitter</a></li>
        <li><a href="https://www.instagram.com/ccmagangue/" target="_blank">Instagram</a></li>
        <li><a href="https://www.youtube.com/channel/UCYEZrze_c53y3LB-79A_kQQ" target="_blank">YouTube</a></li>
      </ul>
      <p>Portal Web: <a href="https://www.ccmagangue.org.co" target="_blank">www.ccmagangue.org.co</a></p>
    </p-card>
  
    <p-card class="info-card" header="Notificaciones Judiciales">
      <p>
        De conformidad con el artículo 197 de la Ley 1437 de 2011, que dice “Dirección electrónica para efectos de notificaciones. Las entidades públicas de todos los niveles, las privadas que cumplan funciones públicas y el Ministerio Público que actúe ante esta jurisdicción, deben tener un buzón de correo electrónico exclusivamente para recibir notificaciones judiciales. Para los efectos de este Código se entenderán como personales las notificaciones surtidas a través del buzón de correo electrónico”, la Presidencia de la República ha habilitado para dicho y único fin, el correo electrónico de “Notificaciones judiciales”.
      </p>
    </p-card>
  </section>
</main>