@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

$gobierno-color: #292b94;

$primary-color: #000099;
$secondary-color: #5390D9;
$tertiary-color: #4EA8DE;
$quaternary-color: #56CFE1;
$quinary-color: #72EFDD;

$extra-color: #078930;

$white: #FFFFFF;
$anti-white: #F0F0F0;

$black: #000000;

$font-family: 'Poppins', sans-serif;

body {
    font-family: $font-family;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
