<main>
    <app-title [title]="'Protección de datos personales'"></app-title>


    <section class="contenido">
        <h3>Aviso de Privacidad</h3>
        <p>
            La se permite informar a todos los interesados, que en cumplimiento de nuestra Política de Protección de Datos personales, los datos personales que obtengamos en virtud de las operaciones que usted solicite o celebre con la (en lo sucesivo La Cámara) serán tratados conforme a los principios y deberes definidos en la ley 1581 de 2012 y demás normas que traten y regulen sobre esta materia, siempre en desarrollo de las funciones públicas delegadas por el Estado y aquellas propias de la actividad gremial que nos distingue.
        </p>

        <p>
            <strong>Responsables del tratamiento de sus datos personales: </strong>
            El responsable del tratamiento de sus datos personales será La Cámara, ante quien los interesados podrán dirigirse para el efectivo ejercicio de sus derechos de acceso, rectificación, actualización, supresión y revocación de la autorización de tratamiento. El ejercicio de estos derechos está limitado conforme a la reglamentación especial que se tiene frente a los Registros Públicos.
        </p>

        <p>
            <strong>Domicilio: </strong>
            Para efectos del presente aviso de privacidad, La Cámara señala como su domicilio el ubicado en la Cra. 4ª Nº 12-12 Piso 1 y 2.
        </p>

        <p>
            <strong>Tratamiento de datos personales sin previa autorización: </strong>
            La Cámara podrá tratar datos personales sin previa autorización del titular en todos los casos en que estos sean de naturaleza pública. Es decir, que todos los datos recogidos por medio de los Registros Públicos no requerirán de autorización por parte del titular para su tratamiento. Lo anterior en concordancia con el artículo 10 de la Ley 1581 de 2012.
        </p>

        <p>
            <strong>Tratamiento de datos personales con previa autorización: </strong>
            Aparte de los datos recogidos por medio de los Registros Públicos, La Cámara recoge y trata otros datos personales necesarios para atender el cumplimiento de otras funciones, tales como aquellas que se encuentran definidas en el Decreto 898 de 2002 y las demás normas que complementen su marcojurídico operacional.
        </p>

        <p>
            <strong>Finalidades del tratamiento: </strong>
            Los datos personales que La Cámara recoja a través de sus diferentes canales transaccionales, serán usados para la operación y registro dentro de lasfunciones y finalidades regladas y establecidas en el Código de Comercio colombiano y específicamente en el artículo 10 del Decreto 898 de 2002. Asimismo, La Cámara podrá utilizar sus datos personales para ofrecerle y/o informarle, en su caso, de otros productos y/o servicios prestados por La Cámara o de cualquiera de sus filiales.
        </p>

        <p>
            <strong>Transferencia de datos personales: </strong>
            La Cámara podrá transferir sus datos personales a terceros, afiliados o filiales, y a terceros con quienes tengan relación operativa como CONFECAMARAS que le provean de servicios necesarios para su debida operación, o de conformidad con las funciones establecidas a su cargo en la legislación comercial y en el artículo 10 del Decreto 898 de 2002. En dichos supuestos, le informamos que La Cámara adoptará las medidas necesarias para que las personas que tengan acceso a sus datos personales cumplan con la Política de Protección de Datos Personales adoptada por La Cámara, el Documento de Seguridad y con los principios de protección de datos personales establecidos en la Ley.
        </p>

        <p>
            <strong>Ejercicio de sus Derechos: </strong>
            Usted o su representante legal, debidamente acreditado, podrán limitar el uso o divulgación de sus datos personales; así como ejercer, cuando proceda, los derechos de Acceso, Rectificación, Actualización o Supresión que la Ley prevé mediante los formatos que La Cámara le proporcione para tales efectos de forma gratuita. Es importante mencionar que el ejercicio de cualquiera de dichos derechos no es requisito previo ni impide el ejercicio de otro derecho. Los datos obtenidos en desarrollo de su función registral solamente serán actualizados en las oportunidades y formalidades previstas en la ley para tal fin.
        </p>

        <p>
            <strong>Modificaciones al Aviso de Privacidad: </strong>
            Cualquier modificación al presente Aviso le será notificado a través de cualquiera de los siguientes medios: Un comunicado por escrito enviado a su domicilio o entregado en la(s) sede(s) de La Cámara; un mensaje enviado a su correo electrónico o a su teléfono móvil; un mensaje dado a conocer a través de www.ccmagangue.org.co o de cualquier medio electrónico que utilice para celebrar operaciones con La Cámara; o bien, a través de avisos publicados en la(s) sede(s) de La Cámara.
        </p>

        <p>
            <strong>Seguridad de la información: </strong>
            La ha adoptado las medidas tecnológicas, jurídicas y procedimentales posibles y necesarias para la protección de sus datos personales, con el fin de garantizar los atributos de autenticidad, integridad y disponibilidad de la información.
        </p>

        <p>
            Para mayor información sobre el tratamiento de sus datos personales podrá consultar la Política de Tratamiento de Datos Personales de la y el Documento de Seguridad. Me permito manifestar que he leído el presente Aviso de Privacidad, y manifiesto mi consentimiento y autorización para el tratamiento de los datos personales por mí suministrados dentro de las finalidades aquí contempladas.
        </p>
    </section>

    <section class="politicas">
        <h3>POLÍTICAS PARA LA PROTECCIÓN DE DATOS PERSONALES</h3>
        <p>
            Para mayor información sobre el tratamiento de sus datos personales podrá consultar en los siguientes enlaces, el Manual de Políticas y Procedimientos de Protección de Datos Personales de la Cámara de Comercio de Magangué, Documento de Seguridad y aviso de privacidad.
        </p>
    </section>

    <section class="documentos">
        <p-carousel 
            [value]="documentos" 
            [numVisible]="3" 
            [numScroll]="1" 
            [circular]="true" 
            [autoplayInterval]="3000"
            [showIndicators]="false"
            >
            <ng-template pTemplate="item" let-documento>
              <div class="documento-item">
                <i class="fa-solid fa-file-pdf fa-2xl"></i>
                <h3>{{ documento.nombre }}</h3>
                <button pButton type="button" icon="pi pi-download" label="DESCARGAR" (click)="descargar(documento.url)"></button>
              </div>
            </ng-template>
          </p-carousel>
    </section>
</main>
