<main>
  <section class="title">
    <h1>LEY DE TRANSPARENCIA <br> Y ACCESO A LA INFORMACIÓN PÚBLICA</h1>
    <p>En cumplimiento a la Ley 1712 del 6 de marzo de 2014 la Cámara de Comercio de Magangué pone a disposición de la ciudadanía la siguiente información.</p>
  </section>
  <section class="video">
    <app-videos callingComponent="leyes-transparencia" [videos]="videos"></app-videos>
  </section>
  <section class="decretos">
    @for (item of decretos; track $index) {
      <div class="decreto">
        <h3>{{ item.titulo }}</h3>
        <p>{{ item.descripcion }}</p>
      </div>
    }
  </section>

  <section class="acordion">
    <div>
      <p-accordion [activeIndex]="0">
        @for (item of information; track $index) {
          <p-accordionTab header="{{ item.header }}">
            <!-- <p>{{ item.paragraph }}</p> -->
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </p-accordionTab>
        }
      </p-accordion>
    </div>
  </section>
</main>
