<main>
  <section class="title">
    <h1>LEY DE TRANSPARENCIA <br> Y ACCESO A LA INFORMACIÓN PÚBLICA</h1>
    <p>En cumplimiento a la Ley 1712 del 6 de marzo de 2014 la Cámara de Comercio de Magangué pone a disposición de la ciudadanía la siguiente información.</p>
  </section>
  <section class="video">
    <app-videos callingComponent="leyes-transparencia" [videos]="videos"></app-videos>
  </section>
  <section class="decretos">
    @for (item of decretos; track $index) {
      <div class="decreto">
        <h3>{{ item.titulo }}</h3>
        <p>{{ item.descripcion }}</p>
      </div>
    }
  </section>
  <section class="acordion">
    <div>
      <p-accordion [activeIndex]="0">
        @for (item of information; track $index) {
          <p-accordionTab header="{{ item.header }}">
            @for (subitems of item.contenido; track $index) {
              @if(subitems.tipo === 'lista') {
                <ul>
                  @for (list of subitems.valor; track $index) {
                    <li>{{ list }}</li>
                  }
                </ul>
              }
              @else if (subitems.tipo === 'parrafo') {
                <p>{{ subitems.valor }}</p>
              }
            }
          </p-accordionTab>
        }
      </p-accordion>
    </div>
  </section>
</main>
