<p-accordion [activeIndex]="0">
  @for (item of information; track $index) {
    <p-accordionTab header="{{ item.header }}">
      @for (subitems of item.contenido; track $index) {
        @if(subitems.tipo === 'lista') {
          <ul>
            @for (lista of subitems.valor; track $index) {
              <li 
                [ngClass]="{'hipervinculo': lista.pagina != null}"
                (click)="vista(lista)"
              >
                {{ lista.label || lista }}
              </li>
            }
          </ul>
        }
        @else if (subitems.tipo === 'parrafo') {
          <p 
            [ngClass]="{'hipervinculo': subitems.valor.label != null}"
            (click)="vista(subitems.valor)"
          >
            {{ subitems.valor.label || subitems.valor }}
          </p>
        }
        @else if (subitems.tipo === 'formatted') {
          <p [innerHTML]="subitems.valor"></p>
        }
        @else if (subitems.tipo === 'link') {
          <a [href]="subitems.valor">{{ subitems.valor }}</a>
          <!-- <br> -->
        }
      }
    </p-accordionTab>
  }
</p-accordion>